body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('palms_AdobeStock_iPad.jpg');
    background-repeat:  no-repeat;
    -webkit-background-composite: cover;
    background-size: cover;
    line-height: 1.8;
    background-color:#DEBA9F;
}

main {
    display:flex;
    flex-direction:column;
}

#resultbox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    width: 90vw;
    height: 40vh;
    position:absolute;
    top: 62vh;
    right: 10vw;
    left:8vw;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

section{
    align-items: center;
    width: 100%;
}

.t_img{
    background-color: aquamarine;
    background-repeat:  no-repeat;
    -webkit-background-composite: contain;
    background-position: 0px 0px;
    background-size: 100%;
    height:35vh;
    width:50vw;
    border-radius:10px;
    border:5px solid white;
    position:absolute;
}

#show_img_0{
    background-image: url('image_back_color.jpg'); 
    width: 100vw;
    height: 50vh;
    top: 11vh;
    left: 0vw;
    background-repeat:  no-repeat;
    -webkit-background-composite: cover;
    background-size: cover;
    visibility: hidden;
}

#show_img_1{
    background-image: url('image_back_color.jpg'); 
    width: 100vw;
    height: 30vh;
    top: 100vh;
    left: 0vw;
    background-repeat:  no-repeat;
    -webkit-background-composite: cover;
    background-size: cover;
    visibility: hidden;
}



@media(min-width:760px) {

    body {
        display: flex;
        background-image: url('palms_AdobeStock_iPad.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        flex-direction: column;
        min-height: 100vh;
        margin-left: 0;
        padding-left: 0;
        background-repeat:  no-repeat;
        -webkit-background-composite: cover;
        background-position: 0px 0px;
        background-size: 100vw;
        line-height: 1.8;
        align-items: center;
        background-color:#DEBA9F;
        //background-color: linear-gradient(315deg, #a55c1b 0%, #000000 74%);;
    }

    #resultbox{
        width: 48vw;
        height: 17.5vh;
        border:5px solid white;
        background-color: mistyrose;
        border-radius: 10px;
        position:absolute;
        top: 37vh;
        right:15vw;
        left: 5vw;
    }

    section{
        align-items: right;
        padding-top: 40px;
    }

    .t_img{
        background-color: aquamarine;
        background-repeat:  no-repeat;
        -webkit-background-composite: contain;
        background-position: 0px 0px;
        background-size: 100%;
        height:35vh;
        width:50vw;
        border-radius:10px;
        border:5px solid white;
        position:absolute;
    }
    
    #show_img_0{
        width: 52vw;
        height: 20vh;
        top: 14vh;
        left: 2vw;
        background-repeat:  no-repeat;
        -webkit-background-composite: cover;
        background-size: cover;
        visibility: hidden;
    }
    
    #show_img_1{
        height: 60vh;
        width:96vw;
        top: 35vh;
        left: 2vw;
        background-repeat:  no-repeat;
        -webkit-background-composite: cover;
        background-size: cover;
        visibility: hidden;
    }
    
} 

@media(min-width:920px) {

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-position: 0px 0px;
        background-repeat:  no-repeat;
        -webkit-background-composite: cover;
        background-size: cover 100%;
        line-height: 1.8;
        align-items: right;
        background-color:white;
    }

    #resultbox{
        width: 29vw;
        height: 40vh;
        position:absolute;
        top: 54vh;
        left: 2vw;
        padding-left: 15px;
        align-items: left;
        justify-content: flex-end;
        border-color:5px solid aquamarine;
        color:black;
        visibility: hidden;
    }

    section{
        align-items: left;
        padding-top: 40px;
    }

    .t_img{
        background-color: aquamarine;
        background-repeat:  no-repeat;
        -webkit-background-composite: contain;
        background-position: 0px 0px;
        background-size: 100%;
        height:35vh;
        width:50vw;
        border-radius:10px;
        border:5px solid white;
        position:absolute;
    }

    #show_img_0{
        width: 63vw;
        height: 42vh;
        top: 11.5vh;
        left: 2vw;
        visibility: hidden;
    }

    #show_img_1{
        width: 60vw;
        height: 40vh;
        top: 54vh;
        left: 31vw;
        visibility: hidden;
    }


    #random_img{
        width:30vw;
        height:30vh;
    }
    
}    