footer {
    width: 100%;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 280px;
    padding-left: 20px;
    background-color: blanchedalmond;
    position:absolute;
    bottom: 0;
}

#pixa_img{
    position: absolute;
    align-items: right;
    top:86vh;
    right:4vw;
    height:4vh;
}

@media(min-width:760px) {
footer{
    background-color: aquamarine;
}

#pixa_img{
    top:88vh;
    overflow: visible;
}
}